#created by aclocal
autom4te.cache
aclocal.m4

#created by libtoolize
m4
ltmain.sh

#created by autoconf
configure

#created by automake
install-sh
missing
depcomp
Makefile.in
config.guess
config.sub

#created by ./configure
.deps
Makefile
config.log
config.status
libtool

#created by make
*.o
*.lo
.libs
libttspico.la
pico2wave

